* {
  margin: 0;
  padding: 0;
}

#filelist {
  margin: 20px;
}

#filelist img {
  max-width: 370px;
  border-radius: 2px;
}

#filelist li {
  position: relative;
  max-width: 370px;
}

#filelist span {
  position: absolute;
  right: 0.3em;

  background: #000;
  color: #f3f1ed;
  padding: 0 0.25em;
  border-radius: 2px;
}

#filelist span.size {
  top: 1.7em;
}

#filelist span.name {
  top: 0.3em;
}

#filelist .remove {
  position: absolute;
  right: 0.3em;
  bottom: 0.5em;

  background: #a33b58;
  color: #f3f1ed;
  padding: 0 0.25em;
  border-radius: 2px;
  display: none;
}
#filelist li:hover .remove {
  display: block;
}

body {
  background: #f3f1ed;
}

ul {
  list-style: none;
}

.container {
  display: flex;
  justify-content: center;
}
.card {
  width: 600px;
}
.backlink {
  color: white;
  margin-top: 20px;
  margin-left: 20px;
}
.backlink:hover {
  color: black;
}

.image-container {
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #2196f3;
}

#preview-image {
  display: block;
  width: 200px;
  height: 200px;
  object-position: center;
  object-fit: cover;
}
